body{
  background: #e8e8e8;
}
nav{
    display: block;
    width: 100%;
    float: right;
    margin-top:0px;
    position: fixed;
    top: 0;
    left: 0;
}
ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
ul li{
    display: block;
    float: left;
    width: 100%;
    height: 40px;
    background-color: black;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
}
ul li a{
    text-decoration: none;
    color: white;
    display: block;
}
ul li a:hover{
    background-color: grey;
    transition: 0.5s;
}
ul li ul li{
    display: block;
}
ul li:hover ul li{
    display: block;
}

.box{
  margin-top: 500px;
    width: 100%;
    display: block;

}

p.frigth{
    padding: 5%;
    font-size: 15px;
    background-color: #ffffffaa;
    border-radius: 12px;
    margin-right: 7px;
    margin-left: 7px;
}

p.fleft{
    padding: 5%;
    font-size: 15px;
    margin-left:7px;
    margin-right:7px;
    background-color: #ffffffaa;
    border-radius: 12px;
}
#read1{
    margin: 5%;
}
#read2{
    margin-left: 75%;
}
#read3{
    margin: 5%;
}
#read4{
    margin-left: 75%;
}
#read5{
    margin: 5%;
}
#read6{
    margin-left: 75%;
}
#read7{
    margin: 5%;
}

#more1{display: none;}
#more2{display: none;}
#more3{display: none;}
#more4{display: none;}
#more5{display: none;}
#more6{display: none;}
#more7{display: none;}

button {
  background-color: #4f78f7;
  border: none;
  color: white;
  padding: 10px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15 px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  width: 10vw;
}

button:hover{
    background-color: #365ddc;
}

.t{
  display: grid;
  grid-template-columns: auto auto;
  margin-top: 0px;
}

#bar_div{
    display: block;
    width: 100%;
    height: 57px;
    float: right;
    margin-top:0px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #000000;
}
.bar{
    margin: 0;
    padding: 0;
    list-style: none;
}
.bar .list{
    display: block;
    float: left;
    width: 15%;
    height: 55px;
    background-color: #000000;
    line-height: 55px;
    text-align: center;
    font-size: 20px;
}
.bar .list a{
    text-decoration: none;
    font-size: 1em;
    height: 55px;
    color: white;
    display: block;
    font-family: 'Ubuntu', sans-serif;
}
.bar .list a:hover{
    border-bottom: 2px solid white;
    transition: 0.1s;
    text-shadow: 2px 1px #888888;
}
.bar .list:hover{
    display: block;
}

#contcover{
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  background-image: url("pic/cont/cover3.png");
  width: 100%;
  height: 470px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#covername{
  position: absolute;
  top: 25%;
  left: 5%;
  color: white;
  font-size: 5em;
}